.work {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  @include mobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__page {
    position: relative;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: opacity 0.3s;
    background: rgba(255, 67, 67, 0.8);
    border: 2px solid #ffffff;

    &:hover {
      opacity: 1;
      transition: all 0.7s ease-out;
    }
  }
}
